<div id="all">
    <div class="jumbotron">
        <div class="container" id="siteTitle">
            <img src="https://cdn.pixabay.com/photo/2014/04/02/10/49/burger-304707_960_720.png" width="200px"
                height="200px" alt="...">
            <h1 class="display-4">Build Your Burger</h1>
            <p class="lead">Creating monstrosities with care.</p>
            <div class="row">
                <div class="col-12">
                    <a href="#menu" class="nav2">Up for Grabs</a>
                    <a href="#gobbled" class="nav2">Good and Gobbled</a>
                </div>
            </div>
            <hr class="my-4">

            <div class="card-body">
                <form class="form-group">
                    <label for="burger" class="lead">Cough up a Cow-tastic Burger Recipe Below</label>
                    <input type="text" class="form-control" id="burg" height="500px">
                    <button type="submit" class="btn" style="margin-top:20px;">Burger
                        Up</button>
                </form>
            </div>
        </div>
    </div>
    <div id="menu">
        <div class=" title">
            <img class="condiments" src="https://cdn.pixabay.com/photo/2013/07/13/10/52/bar-157942_960_720.png"
                height="80px;">

            <h1 class=" display-4">Up for Grabs</h1>
        </div>
        <div class="container">
            <div class="container" id="available">
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devour=true}}
                {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="title" id="gobbled">
            <img class="condiments" src="https://cdn.pixabay.com/photo/2013/07/13/10/52/bar-157942_960_720.png"
                height="80px;">
            <h1 class="display-4">Gobbled Up</h1>
        </div>
        <div class="container">
            <div class="container" id="unavailable">
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devour=false}}
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class=" container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4"><img
                    src="https://cdn.pixabay.com/photo/2014/04/02/10/49/burger-304707_960_720.png" height="150px;"
                    width="150px">
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8">
                <h1 id="Inc" class="display-4">Build Your Burger Inc.</h1>
                <p id=="tagline" class="lead">Creating monstrosities with care.
                </p>
                <span>&copy; Copyright 2020
                </span>
            </div>
        </div>

    </div>
</footer>