h6 {
  text-align: center;
}

.btn {
  color: white;
  background-color: #5fa35a;
}
.nav2 {
  background-color: red;
  color: white;
  opacity: 80%;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 7%;
}
#menu {
  background-image: url("https://storage.needpix.com/rsynced_images/seamless-1082983_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.condiments {
  margin-top: 20px;
}
#available,
#unavailable {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  padding: 5%;
  justify-content: center;
}
#siteTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 5px;
}
.jumbotron {
  margin-bottom: 0px;
  background-color: white;
}
.title {
  background-color: #5fa35a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 1%;
}
.footer {
  background-color: #5fa35a;
  color: white;
  padding: 2%;
}
#tagline {
  font-size: 12px;
}
